.App {
  text-align: center;
  padding: 20px;
}

.search-bar {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #1a1c22;
  color: white;
  outline: none;
}

.button {
  background-color: #1a1c22;
  color: white;
  border: 1px solid #333;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #282c34;
}
